//////////// COLOR TOKENS TOKENS //////////
$color-000:         #110a1d;
$color-001:         #478bf9;
$color-002:         #9dadf2;
$color-003:         #ffffff;
$color-004:         #ffffff33;
$color-005:         #ffffff66;
$color-006:         #ffffff99;
$color-007:         #ffffff1f;
$color-008:         #7ddacf;
$color-009:         #6ca2fa;
$color-010:         #1e1231;
$color-011:         #000000;
$color-012:         #050505;
$color-013:         #ff0000;

///////////////// Document colors /////////////////
///////////////// Text Styles /////////////////
///////////////// Paint Styles /////////////////
