// Do not change this file manually, Gulp will overwrite it. The main settings file is: _src/loaded_modules.js
$footer__isloaded: true;
$header__isloaded: true;
$js_media_queries__isloaded: true;
$modal__isloaded: true;
$no_tabbing__isloaded: true;
$print__isloaded: true;
$scroll_lock__isloaded: true;
$select__isloaded: true;
$trans_lock__isloaded: true;
$template_test__isloaded: false;
$component_test__isloaded: false;
$dev_panel__isloaded: false;
$accordion_css__isloaded: false;
$accordion_js__isloaded: false;
$cookies__isloaded: false;
$copyright__isloaded: false;
$form__isloaded: false;
$input_checkbox__isloaded: false;
$input_file__isloaded: false;
$input_radio__isloaded: false;
$input_range_colored__isloaded: false;
$input_range_double__isloaded: false;
$intersection__isloaded: false;
$json_load__isloaded: false;
$loadscreen__isloaded: false;
$pagination__isloaded: false;
$parallax__isloaded: false;
$popup__isloaded: false;
$position_marker__isloaded: false;
$random__isloaded: false;
$rotation_alert__isloaded: false;
$simple_counter__isloaded: false;
$spoiler__isloaded: false;
$swiper__isloaded: false;
$swiper_no_internet__isloaded: false;
$tabs__isloaded: false;
$time_select__isloaded: false;
$up_button__isloaded: false;
$user_agent__isloaded: false;
$video_player__isloaded: false;
$isLiteBuild: true;
$isWordPress: false;
